/* html {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}
 */
/* 搜索小剪刀去掉
 */
 .custom-hr:before, .search-dialog hr:before  {
    display: none;
 }